<mat-card class="{{ cardClassName }}" appearance="raised">
  <mat-card-content>
    <p class="joke-text">{{ joke().text }}</p>
  </mat-card-content>
  <mat-card-footer
    ><p class="joke-author">by {{ joke().author }}</p>
    @if (joke().source.length > 0) {
      <p class="joke-source">(Source: {{ joke().source }})</p>
    }
  </mat-card-footer>
  <mat-card-footer
    ><div class="joke-card-emotions">
      @for (emotion of emojiCharacters; track emotion.emotion) {
        @if (userAuthService.isUserSignedIn()) {
          <a
            matBadge="{{ getEmotionCounter(emotion.emotion) }}"
            class="joke-emoji"
            (click)="jokeReaction(emotion.emotion, $event)"
            ><span class="joke-emoji">{{ emotion.emoji }}</span></a
          >
        } @else {
          <a matBadge="{{ getEmotionCounter(emotion.emotion) }}" class="joke-emoji-disabled"
            ><span class="joke-emoji">{{ emotion.emoji }}</span></a
          >
        }
      }
    </div>
    @if (operationInProgress()) {
      <div
        class="floating-spinner"
        [style.left.px]="spinnerPosition()!.x"
        [style.top.px]="spinnerPosition()!.y"
      >
        <mat-progress-spinner mode="indeterminate" [diameter]="20" [strokeWidth]="3">
        </mat-progress-spinner>
      </div>
    }
  </mat-card-footer>
  <mat-card-footer class="joke-card-tags">
    <mat-chip-set aria-label="tags">
      @for (tag of joke().tags; track tag) {
        <mat-chip>{{ tag }}</mat-chip>
      }
    </mat-chip-set>
  </mat-card-footer>
</mat-card>
